.btn-edit{
    width: 225px;
    margin-top: 5px;
}
.btn-section{
    width: 250px;
}
.about-me-img{
    display: inline-flex;
    
}
.edit-img{
    width: 25%;
    
    border: 1px solid #3CBDE3;
    border-radius:10px;
}
.about-btns{
  
    padding: 15px 8px 15px 5px;
    border-radius: 10px;
    color: white;
}
.btn-section{
    background-color: #0F172A;
    color: white;
    border-radius: 10px;
    
}
.btn-edit{
    color: white;
}
.btn-edit:hover{
    background-color: white;
    color:#3CBDE3;
    border-bottom: #3CBDE3;
}
.about-btn-active {
    background-color: white;
    color: #3CBDE3;
}
.about-details{
    padding: 8px;
    margin-left: 8px;
}
.about-info{
    padding: 5px ;
    color: gray;
    
}

/*=================== custom scrollbar ======================*/
::-webkit-scrollbar{
    width: 10px;
    background-color:#0F172A;
}
::-webkit-scrollbar-thumb{
    border-radius: 2em;
    background-color: #3CBDE3;
}